@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, ul, li, div, dl, dt, dd, p{
	margin: 0;
	padding: 0;
	color: #666;
	font-family: "微软雅黑";
}
ul{
	list-style: outside none none;
}
a{
	text-decoration: none;
	color: #666;
}
a:hover{
	color: orange;
}

/*页面头部*/
#nav{
	width: 100%;
	height: 60px;
}
#nav .center{
	width: 1006px;
	height: 60px;
	background-color: #eee;
	position: relative;
	margin: 0 auto;
}
#nav .h1{
	width: 180px;
	height: 60px;
	background-image: url(../imgs/logo1.png);
	text-indent: -9999px;
	float: left;
}
#nav .link{
	position: absolute;
	right: 0;
	bottom: 1px;
}
#nav .link li{
	width: 120px;
	text-align: center;
	float: left;
}
/*产品列表*/
#product{
	width: 1006px;
	height: 1200px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
#product .pro_title{
	width: 1006px;
	height: 40px;
	margin: 0 auto;
	border-bottom: 3px solid orange;
}
#product .pro_title li{
	width: 100px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	display: inline-block;
}
#product li.pro_title_active{
	background-color: orange;
}
#product .pro_container>.item{
	float: left;
	position: relative;
	margin-left: 20px;
}
#product .pro_container .item_wrap{
	width: 226px;
	display: inline-block;
	padding: 20px 0px 36px 0px;
	margin-top: 10px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	z-index: 10;
}
#product .pro_container .item_wrap a{
	display: block;
	text-align: center;
}
#product .pro_container .item_wrap .item_detail>p{
	font-size: 14px;
	padding: 5px;
	text-align: left;
}
#product .pro_container .item_wrap .item_detail>div>a{
	text-align: right;
	padding: 10px;
	font-size: 20px;
	color: red;
}
#product .pro_container>.item:hover{
	/*z-index: 10;*/
}
#product .pro_container>.active>.item_border{
	width: 226px;
	height: 360px;
	display: inline-block;
	padding: 20px 0px 36px 0px;
	margin-top: 10px;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	border: 3px solid #eee;
}

/*页面底部*/
#footer{
	width: 100%;
}
#footer .center{
	width: 1006px;
	background-color: #eee;
	margin: 0 auto;
	padding: 20px 0px;
}
#footer .center dl{
	display: inline-block;
	border-left: 1px solid #aaa;
	padding: 20px 30px;
	margin-left: 100px;
}
#footer .center dl:first-child{
	border-left: none;
}
#footer .center dl dt{
	font-size: 26px;
	margin-bottom: 17px;
}
#footer .center dl dd{
	font-size: 14px;
	margin-top: 10px;
}
#register{
	margin: 10px auto;
}
#register p{
	text-align: center;
	margin-top: 5px;
	font-size: 13px;
}