@charset "utf-8";

body{
	color: #666;
	font-family: '微软雅黑';
}
a{
	text-decoration: none;
	color: #666;
}

/*导航条*/
.navbar-brand{
	/*padding-left: 0;*/
}

#collapse1 ul{
	margin-top: 0;
}

/*轮播图*/
#carousel1{
	margin: 50px 0 0 0;
}

.carousel-inner img{
	margin: 0 auto;
}

#carousel1 a{
	font-size: 100px;
}

/*内容部分1*/
.section1{
	padding: 20px 20px;
	margin: 40px;
	border-top: 1px solid #e3e3e3;
}
.section1 .row{
	margin-bottom: 10px;
}

.section1 h3{
	font-size: 20px;
}
.section1 h4{
	font-size: 18px;
}
.section1 p{
	font-size: 14px;
}

/*内容部分2*/
.section2{
	margin-bottom: 20px;
	background-color: #eee;
	padding: 20px 0px;
}
.section2 h2{
	text-align: center;
}
.section2 .img5{
	width: 50%;
	height: 50%;
	background-color: red;
}
.section2 .img6{
	width: 80%;
	height: 80%;
}
.section2 p{
	background-color: pink;
}
/*页面底部*/
.footer{
	background-color: #eee;
	text-align: center;
	padding: 10px 0px;
}

/*小屏幕*/
@media (min-width: 768px){
	.section1 h3{
		font-size: 22px;
	}
	.section1 h4{
		font-size: 19px;
	}
	.section1 p{
		font-size: 15px;
	}
}
/*中屏幕*/
@media (min-width: 992px){
	.section1 h3{
		font-size: 24px;
	}
	.section1 h4{
		font-size: 20px;
	}
	.section1 p{
		font-size: 16px;
	}
}
/*大屏幕*/
@media (min-width: 1200px){
	.section1 h3{
		font-size: 26px;
	}
	.section1 h4{
		font-size: 21px;
	}
	.section1 p{
		font-size: 17px;
	}
}