@charset "utf-8";

body{
	color: #666;
	font-family: '微软雅黑';
}
a{
	text-decoration: none;
	color: #eee;
}
a:hover{
	color: #fff;
}

/*导航条*/
.navbar-brand{
	/*padding-left: 0;*/
}

#collapse1 ul{
	margin-top: 0;
}

/*轮播图*/
#carousel1{
	margin: 50px 0 0 0;
}

.carousel-inner img{
	margin: 0 auto;
}

#carousel1 a{
	font-size: 100px;
}

/*内容部分1*/
.section1{
	padding: 20px;
	/*margin: 20px;*/
	/*border-top: 1px solid #e3e3e3;*/
}

.section1 h3{
	margin-top: 4px;
	font-size: 18px;
}
.section1 h4{
	font-size: 16px;
}
.section1 p{
	font-size: 12px;
	display: none;
}

/*内容部分2*/
.section2{
	background-color: #eee;
	padding: 20px;
	/*margin: 20px;*/
}
.section2 .section2-caption{
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #3e3e3e;
}

/*页面底部*/
.footer{
	background-color: #101010;
	text-align: center;
	padding: 10px 0px;
	color: #eee;
}

/*百科学堂页面*/
/*内容部分*/
.section-study{
	margin-top: 50px;
}
.section-study blockquote{
	padding: 0px 0px 0px 25px;
	margin-left: 30px;
}
.section-study .study-left .row{
	margin: 5px 0px;
}
.section-study h4{
	font-weight: bold;
	font-size: 15px;
	margin-top: 2px;
}
.section-study p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*媒体查询*/
/*小屏幕*/
@media (min-width: 768px){
	.section1 h3{
		font-size: 20px;
	}
	.section1 h4{
		font-size: 17px;
	}
	.section1 p{
		font-size: 13px;
		display: none;
	}
	.section-study h4{
		font-size: 17px;
	}
}
/*中屏幕*/
@media (min-width: 992px){
	.section1 h3{
		font-size: 22px;
	}
	.section1 h4{
		font-size: 18px;
	}
	.section1 p{
		font-size: 14px;
		display: block;
	}
	.section2 .section2-text1{
		float: right;
	}
	.section2 .section2-img1{
		float: left;
	}
	.section-study h4{
		font-size: 18px;
	}
}
/*大屏幕*/
@media (min-width: 1200px){
	.section1 h3{
		font-size: 24px;
	}
	.section1 h4{
		font-size: 19px;
	}
	.section1 p{
		font-size: 15px;
		display: block;
	}
	.section2 .section2-text1{
		float: right;
	}
	.section2 .section2-img1{
		float: left;
	}
	.section-study h4{
		font-size: 20px;
	}
	.section-study p{
		overflow: hidden;
		white-space: normal;
		text-overflow: normal;
	}
}