@charset "utf-8";

body{
	color: #666;
	font-family: '微软雅黑';
}
a{
	text-decoration: none;
	color: #eee;
}
a:hover{
	color: #fff;
}
blockquote{
	padding: 0px 0px 0px 25px;
	margin-left: 30px;
	color: #05a;
}

/*导航条*/
.navbar-brand{
	/*padding-left: 0;*/
}

#collapse1 ul{
	margin-top: 0;
}

/*轮播图*/
#carousel1{
	margin: 50px 0 0 0;
}

.carousel-inner img{
	margin: 0 auto;
}

#carousel1 a{
	font-size: 100px;
}

/*内容部分1*/
.section1{
	padding: 20px;
	/*margin: 20px;*/
	/*border-top: 1px solid #e3e3e3;*/
}

.section1 h3{
	margin-top: 4px;
	font-size: 18px;
}
.section1 h4{
	font-size: 16px;
}

/*内容部分2*/
.section2{
	background-color: #eee;
	padding: 20px;
	/*margin: 20px;*/
}
.section2 .section2-caption{
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #3e3e3e;
}

/*页面底部*/
.footer{
	background-color: #101010;
	text-align: center;
	padding: 10px 0px;
	color: #eee;
}

/*百科学堂页面*/
/*内容部分*/
.section-study{
	margin-top: 50px;
}
.section-study .study-left .row{
	margin: 5px 0px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #eee;
}
.section-study h4{
	font-weight: bold;
	font-size: 15px;
	margin-top: 2px;
}
.section-study p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.hot-right{
	padding: 5px;
}
.hot-right h5{
	font-size: 16px;
	color: #05a;
}
.hot-right ul{
	padding: 5px 10px;
	list-style: none;
	background-color: #f1f5f9;
}
.hot-right ul em{
	display: inline-block;
	width: 24px;
	height: 28px;
	color: #aaa;
	font-weight: bold;
}
.hot-right ul a{
	color: #000;
}
.mypage{
	text-align: center;
}

/*IT人物*/
.section-people{
	margin-top: 50px;
}
#hums .panel-title a{
	color: #666;
	display: block;
}
#hums a:hover{
	color: orange;
	text-decoration: none;
}
#hums p{
	display: inline-block;
	text-indent: 2em;
}
#hums p>a{
	color: #000;
}
.section-people .more{
	margin-bottom: 20px;
}
.section-people .hot-right .container-fluid{
	padding: 5px;
}

/*IT公司*/
.jumbotron{
	margin-top: 50px;
	margin-bottom: 0px;
}
.company{
	padding: 10px;
	margin-bottom: 20px;
}
.company a{
	color: #666;
}
.company .scroll-1{
	height: 350px;
	overflow: auto;
	position: relative;
}
.company .scroll-1 p{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #aaa;
}
.company .scroll-1 p:last-child{
	border-bottom: none;
}

/*IT之最*/
.most-table{
	margin: 10px;
}
.most-table th{
	text-align: center;
}
.most-table a{
	color: #000;
}
.most-table tbody>tr>td img{
	width: 100%;
}
.most-table tbody>tr>td>div>p{
	text-indent: 2em;
	line-height: 25px;
}
/*媒体查询*/
/*小屏幕*/
@media (min-width: 768px){
	.section1 h3{
		font-size: 19px;
	}
	.section1 h4{
		font-size: 15px;
	}
	.section1 p{
		font-size: 12px;
	}
	.section2 .section2-text1{
		float: right;
	}
	.section2 .section2-img1{
		float: left;
	}
	.section-study h4{
		font-size: 17px;
	}
}
/*中屏幕*/
@media (min-width: 992px){
	.section1 h3{
		font-size: 20px;
	}
	.section1 h4{
		font-size: 16px;
	}
	.section1 p{
		font-size: 14px;
	}
	.section2 .section2-text1{
		float: right;
	}
	.section2 .section2-img1{
		float: left;
	}
	.section-study h4{
		font-size: 18px;
	}
}
/*大屏幕*/
@media (min-width: 1200px){
	.section1 h3{
		font-size: 21px;
	}
	.section1 h4{
		font-size: 17px;
	}
	.section1 p{
		font-size: 14px;
	}
	.section2 .section2-text1{
		float: right;
	}
	.section2 .section2-img1{
		float: left;
	}
	.section-study h4{
		font-size: 20px;
	}
	.section-study p{
		overflow: hidden;
		white-space: normal;
		text-overflow: normal;
	}
}